@import url(https://db.onlinewebfonts.com/c/c4d8819fda4c3fd79e36cedcc8d422bb?family=Halyard+Display);

body {
	background-color: #fff1d4;
	font-family: Halyard Display;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

.logo {
	font-size: 24px;
	padding: 0;
	text-decoration: overline;
	color: #f04a60;
	font-weight: bold;
}

.icons{
	position: absolute;
	right: 15%;
	color: #fff;
	font-size: 28px;
	cursor: pointer;
	display: none;
}

.space-navbar {
	position: fixed;
	background-color: #212227;
	padding: 15px 10px;
	margin: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	z-index: 999;
}

.space-navbar::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#check{
	display: none;
}

.nav-item {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	margin-left: 20px;
}

.nav-item:hover {
	background-color: #C5283D;
	transition: background-color 0.5s ease-in-out;
	border-radius: 5px;
}

.main-image {
	width: 100%;
	height: 400px;
	background-image: url(https://e0.pxfuel.com/wallpapers/2/962/desktop-wallpaper-travel-collage-aesthetic-travel.jpg);
}

.feat-article {
	position: relative;
	margin: 60px;
	margin-top: 30px;
	margin-bottom: 0;
	padding: 20px;
	width: fit-content;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	background-color: #C3C2C0;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;
}

.feat-article h1 {
	background-color: #C3C2C0;
	margin: 0;
	padding: 3px;
	color: #C5283D;
	font-weight: 100;
	text-decoration: underline;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	border: 2px solid #C5283D;
	border-style: ridge;
	width: fit-content;
}

.feat-article h3 {
	font-size: 20px;
	font-weight: bold;
}

.feat-article p {
	font-size: 16px;
	width: 50%;
}

.feat-image {
	position: absolute;
	top: 0;
	right: 0;
	margin: 15px;
	background-image: url(https://images.ctfassets.net/i3kf1olze1gn/79fxjHaJgXQX5zd41NXLkm/946b117c0cd4aa9a6c43b1a14aa0022d/Belize.jpg?q=55&w=680);
	background-repeat: no-repeat;
	background-size: cover;
	width: 45%;
	height: 90%;
	float: right;
	border: 1px solid white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.blog{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	padding: 20px;
	
}

.blog h1{
	text-align: center;
	width: 100%;
	padding: 20px;
}

.post-card {
	background-color: #fbfce8;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 10px;
	padding: 10px;
	width: 300px;
}

.post-card img{
	width: 100%;
	height: 200px;
}

.post-title {
	font-size: 24px;
	margin: 10px 0;
}

.post-content {
	height: 130px;
	font-size: 16px;
	color: #313131;
}

.post-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.post-date {
	font-size: 12px;
	color: #888;
}

.tips{
	background-color: #fde7ba;
	width: 50vw;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.9);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tips a{
	color: #C5283D;
	padding: 10px;
}

.tips-card{
	margin: 10px;
	position: relative;
	width: 55%;
	height: 100px;
	border: 1px solid #212227;
	text-align: center;
	border-radius: 1px;
	z-index: 2;
}

.tips-card:hover{
	transform: scale(1.04);
	cursor: pointer;
}

.tips-card a{
	font-weight: 700;
	font-size: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	color: #fde3af;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

}

.tips-card img{
	height: 100%;
	width: 100%;
	object-fit: none;
	object-position: center;
}	

.left{
	margin-right: 40%;
}

.right{
	margin-left: 40%;	
}

.footer{
	background-color: #C5283D;
	height: 50px;
	width: 100%;
	text-align: center;
	padding: 10px;
	color: #F6FFF8;
}

@media (max-width: 1024px)
{
	.feat-image{
		margin-top: 20px;
		background-size: cover;
	}
	.blog{
		margin: 0;
		padding: 0;
	}
	.tips{
		width: 60%;
	}
}
@media (max-width: 768px)
{
	.feat-article{
		align-items: center;
	}
	.feat-article p{
		width: 100%;
		height: fit-content;
		text-align: center;
		margin-bottom: 20px;
	}
	.feat-image{
		position: relative;
		height: 300px;
		width: 100%;
		margin: 0;
	}
	.tips{
		margin: 10px;
		width: 95vw;
	}
}

@media (max-width: 600px)
{
	.icons{
		display: inline-flex;
	}
	#check:checked~.icons #menu-icon{
		display: none;
	}
	.icons #close-icon{
		display: none;
	}
	#check:checked~.icons #close-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: 100%;
		left: 0;
		height: 0;
		width: 100%;		
		transition: .5s ease;
		overflow: hidden;
		background-color:#C5283D;
	}
	#check:checked~.navbar{
		height: 200px;
	}
	.navbar a{
		display: block;
		font-size: 20px;
		margin: 0;
		text-align: center;
	}
}


@media (max-width: 425px) {
	.feat-article{
		width: 90%;
		padding: 10px;
		margin: 10px;
		justify-content: baseline;
		align-items: center;
	}
	.feat-article p{
		display: none;
	}

	.feat-article::after{
		content: 'Conocer más...';
		cursor: pointer;
		text-decoration: underline;
		padding: 20px;
	}
	.feat-image{
		height: 200px;
		background-size: cover;
	}
	.post-content{
		height: fit-content;
	}
	.tips-card{
		margin-left: 0;
		width: 100%;
		margin: 20px;
	}
}